Repository vexx32/PSKoans, pull requests merged in 2019-08, with the labels that each got.

#217 Lets try this again! Adding a Contributing.md document.
  CONTRIBUTING.md
  README.md
Labels: Category-Docs, PR-Awaiting-Author

#225 Update AboutStringBuilder koans
  PSKoans/Koans/Constructs and Patterns/AboutStringBuilder.Koans.ps1
Labels: Category-Koans, PR-Needs Review

#230 Publish Test Results to Azure Pipelines
  Build/Psake.ps1
  azure-pipelines.yml
Labels: Category-Build, Category-Tests

#231 Update gitattributes
  .gitattributes
Labels: Category-Build, PR-Needs Review

#229 Remove nonexistent parameter -Count
  PSKoans/Koans/Cmdlets 1/AboutMeasureObject.Koans.ps1
Labels: Category-Koans, PR-Needs Review

#228 fixes #191 AboutPSObjects
  PSKoans/Koans/Constructs and Patterns/AboutPSObjects.Koans.ps1
Labels: Category-Koans, PR-Awaiting-Author
