Repository vexx32/PSKoans, pull requests merged in 2019-11, with the labels that each got.

#322 :memo: Fix incorrect number in number check
  PSKoans/Koans/Introduction/AboutBinary.Koans.ps1
Labels: Category-Koans

#321 :sparkles: Fix typo in comment
  PSKoans/Koans/Introduction/AboutBinary.Koans.ps1
Labels: Category-Koans

#323 :bug: Fix assertions so they aren't already true
  PSKoans/Koans/Foundations/AboutAssignmentAndArithmetic.Koans.ps1
Labels: Category-Koans

#324 Module Manifest - Fix LicenseURI 404
  PSKoans/PSKoans.psd1
Labels: Category-Module

#328 :bug: Fix issue with verification script in katas
  PSKoans/Koans/Katas/ProcessingStrings.Koans.ps1
  PSKoans/Koans/Katas/SortingCharacters.Koans.ps1
Labels: Category-Koans, PR-Needs-Review
