Repository vexx32/PSKoans, pull requests merged in 2019-09, with the labels that each got.

#233 Fix Outstanding koan issues
  PSKoans/Koans/Cmdlets 1/AboutDiscovery.Koans.ps1
  PSKoans/Koans/Cmdlets 1/AboutGroupObject.Koans.ps1
  PSKoans/Koans/Cmdlets 1/AboutModules.Koans.ps1
  PSKoans/Koans/Cmdlets 1/AboutTeeObject.Koans.ps1
  PSKoans/Koans/Cmdlets 2/AboutOutCmdlets.Koans.ps1
  PSKoans/Koans/Constructs and Patterns/AboutErrorHandling.Koans.ps1
  PSKoans/Koans/Constructs and Patterns/AboutLists.Koans.ps1
  PSKoans/Koans/Constructs and Patterns/AboutRedirection.Koans.ps1
  PSKoans/Koans/Foundations/AboutArrays.Koans.ps1
  PSKoans/Koans/Foundations/AboutComparison.Koans.ps1
  PSKoans/Koans/Foundations/AboutHashtables.Koans.ps1
  PSKoans/Koans/Foundations/AboutLoopsAndPipelines.Koans.ps1
  PSKoans/Koans/Foundations/AboutStringOperators.Koans.ps1
Labels: Category-Koans, PR-Needs Review

#236 Add multi-platform building and testing
  azure-pipelines.yml
  templates/build-steps.yml
Labels: Category-Build, PR-Needs Review

#235 Fix #179 AboutPSProviders
  PSKoans/Koans/Cmdlets 1/AboutPSProviders.Koans.ps1
Labels: Category-Koans, PR-Needs Review

#223 Adds Koan Update and Reset commands
  PSKoans/PSKoans.psd1
  PSKoans/PSKoans.psm1
  PSKoans/Private/ConvertFrom-WildcardPattern.ps1
  PSKoans/Private/Get-Koan.ps1
  PSKoans/Private/Get-PSKoanFile.ps1
  PSKoans/Private/Get-PSKoanIt.ps1
  PSKoans/Private/Initialize-KoanDirectory.ps1
  PSKoans/Private/Update-PSKoanFile.ps1
  PSKoans/Public/Measure-Karma.ps1
  PSKoans/Public/Reset-PSKoan.ps1
  PSKoans/Public/Update-PSKoan.ps1
  Tests/Functions/Private/ConvertFrom-WildcardPattern.Tests.ps1
  Tests/Functions/Private/Get-Koan.Tests.ps1
  Tests/Functions/Private/Initialize-KoanDirectory.Tests.ps1
  Tests/Functions/Private/Measure-Koan.Tests.ps1
  Tests/Functions/Private/Update-PSKoanFile.Tests.ps1
  Tests/Functions/Public/Measure-Karma.Tests.ps1
  Tests/Functions/Public/Reset-PSKoan.Tests.ps1
  Tests/Functions/Public/Update-PSKoan.Tests.ps1
  docs/Measure-Karma.md
  docs/Reset-PSKoan.md
  docs/Update-PSKoan.md
Labels: Category-Module

#237 Katas
  PSKoans/Koans/Foundations/AboutTheStockChallenge.Koans.ps1
  PSKoans/Koans/Katas/SortingCharacters.Koans.ps1
  PSKoans/Koans/Katas/TheStockChallenge.Koans.ps1
  PSKoans/Koans/Testing Grounds/TestingHashtables.Koans.ps1
  drafts/ComplexArrayFilter.ps1
Labels: Category-Koans, PR-Needs Review

#238 Add Get-Karma function, rename Measure-Karma to Show-Karma
  PSKoans/PSKoans.psd1
  PSKoans/PSKoans.psm1
  PSKoans/Private/Get-Koan.ps1
  PSKoans/Private/Invoke-Koan.ps1
  PSKoans/Private/Show-MeditationPrompt.ps1
  PSKoans/Public/Get-Karma.ps1
  PSKoans/Public/Get-PSKoanFile.ps1
  PSKoans/Public/Reset-PSKoan.ps1
  PSKoans/Public/Show-Karma.ps1
  PSKoans/Public/Update-PSKoan.ps1
  Tests/Functions/Private/Show-MeditationPrompt.Tests.ps1
  Tests/Functions/Public/Get-Karma.Tests.ps1
  Tests/Functions/Public/Measure-Karma.Tests.ps1
  Tests/Functions/Public/Show-Karma.Tests.ps1
  docs/Get-Blank.md
  docs/Get-Karma.md
  docs/Get-PSKoanFile.md
  docs/Get-PSKoanLocation.md
  docs/PSKoans.md
  docs/Register-Advice.md
  docs/Reset-PSKoan.md
  docs/Set-PSKoanLocation.md
  docs/Show-Advice.md
  docs/Show-Karma.md
  docs/Update-PSKoan.md
Labels: Category-Docs, Category-Module, PR-Needs Review

#239 Update all references to $env:PATH
  PSKoans/Koans/Cmdlets 1/AboutPSProviders.Koans.ps1
  docs/Show-Karma.md
Labels: Category-Docs, Category-Koans

#245 Adds bitwise operator and binary koans
  PSKoans/Koans/Constructs and Patterns/AboutBitwiseOperations.Koans.ps1
Labels: Category-Koans, PR-Awaiting-Author

#247 Updates AboutSelectObject
  PSKoans/Koans/Cmdlets 1/AboutSelectObject.Koans.ps1
Labels: Category-Koans, PR-Awaiting-Author

#250 Show-Karma - Properly handle completion of topics
  .vscode/launch.json
  PSKoans/Public/Show-Karma.ps1
  Tests/Functions/Public/CompletedKoan/SelectedTopicTest.Koans.ps1
  Tests/Functions/Public/Get-Karma.Tests.ps1
  Tests/Functions/Public/Show-Karma.Tests.ps1
Labels: Category-Module, PR-Needs Review

#259 Add Code Coverage Reports
  Build/Psake.ps1
  README.md
  templates/build-steps.yml
Labels: Category-Build, PR-Needs Review

#265 Dry-Run Module Publishing in CI
  Build/Publish.ps1
  Deploy/FileSystem/PSKoans.psdeploy.ps1
  Deploy/PSGallery/PSKoans.psdeploy.ps1
  Deploy/Publish.ps1
  azure-pipelines.yml
  templates/build-steps.yml
  templates/environment-setup.yml
Labels: Category-Build, PR-Needs Review

#266 Adjust Job/Task layout for Publish steps
  azure-pipelines.yml
Labels: Category-Build

#268 Fixes Detailed parameter
  PSKoans/Public/Show-Karma.ps1
Labels: Category-Module

#269 (doc) Remove double space
  PSKoans/Koans/Foundations/AboutAssertions.Koans.ps1
Labels: Category-Koans

#270 Refactor AboutDiscovery Koans
  PSKoans/Koans/Cmdlets 1/AboutDiscovery.Koans.ps1
Labels: Category-Koans

#271 Update Contributing.md
  .vscode/extensions.json
  CONTRIBUTING.md
Labels: Category-Docs, PR-Needs Review

#272 Add draft koan from Fred
  drafts/ExtendedMeasures.ps1
Labels: Category-Koans, PR-Needs Review
