Repository vexx32/PSKoans, pull requests merged in 2019-10, with the labels that each got.

#241 Port of PowerShell Intro Training into PSKoans
  PSKoans/Data/Advice/Fun/FunWithCats.json
  PSKoans/Data/Advice/Fun/FunWithGUIs.json
  PSKoans/Data/Advice/OOP/OOPIntroduction.Advice.json
  PSKoans/Koans/Foundations/AboutArrays.Koans.ps1
  PSKoans/Koans/Foundations/AboutAssignmentAndArithmetic.Koans.ps1
  PSKoans/Koans/Foundations/AboutComparison.Koans.ps1
  PSKoans/Koans/Foundations/AboutConditionals.Koans.ps1
  PSKoans/Koans/Foundations/AboutFunctionsAndScriptBlocks.Koans.ps1
  PSKoans/Koans/Foundations/AboutHashtables.Koans.ps1
  PSKoans/Koans/Foundations/AboutLoopsAndPipelines.Koans.ps1
  PSKoans/Koans/Foundations/AboutOrderOfOperations.Koans.ps1
  PSKoans/Koans/Foundations/AboutStringOperators.Koans.ps1
  PSKoans/Koans/Foundations/AboutTypeOperators.Koans.ps1
  PSKoans/Koans/Foundations/AboutVariables.Koans.ps1
  PSKoans/Koans/Introduction/AboutAssertions.Koans.ps1
  PSKoans/Koans/Introduction/AboutBinary.Koans.ps1
  PSKoans/Koans/Introduction/AboutBooleans.Koans.ps1
  PSKoans/Koans/Introduction/AboutCmdletVerbs.Koans.ps1
  PSKoans/Koans/Introduction/AboutGetMember.Koans.ps1
  PSKoans/Koans/Introduction/AboutNumbers.Koans.ps1
  PSKoans/Koans/Introduction/AboutStrings.Koans.ps1
  PSKoans/koanOrder.md
  drafts/AboutOOP.ps1
  drafts/AboutOOPAnswers/AboutOOPAnswers.psd1
  drafts/AboutOOPAnswers/AboutOOPAnswers.psm1
Labels: Category-Koans, PR-Awaiting-Author

#263 Adds about enumerations koans
  PSKoans/Koans/Constructs and Patterns/AboutEnumerations.Koans.ps1
Labels: Category-Koans

#277 Rework Koan Order for Introduction / Foundations
  .vscode/extensions.json
  .vscode/settings.json
  KoanIndex.md
  PSKoans/Koans/Foundations/AboutConditionals.Koans.ps1
  PSKoans/Koans/Foundations/AboutFunctionsAndScriptBlocks.Koans.ps1
  PSKoans/Koans/Foundations/AboutHashtables.Koans.ps1
  PSKoans/Koans/Foundations/AboutLoopsAndPipelines.Koans.ps1
  PSKoans/Koans/Foundations/AboutOrderOfOperations.Koans.ps1
  PSKoans/Koans/Foundations/AboutTypeOperators.Koans.ps1
  PSKoans/Koans/Introduction/AboutBinary.Koans.ps1
  PSKoans/Koans/Introduction/AboutBooleans.Koans.ps1
  PSKoans/Koans/Introduction/AboutNumbers.Koans.ps1
  PSKoans/Koans/Introduction/AboutStrings.Koans.ps1
  PSKoans/Koans/Katas/ProcessingStrings.Koans.ps1
  PSKoans/koanOrder.md
Labels: Category-Docs, Category-Koans

#279 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Category-Docs

#276 Fix "Show-Advice" requiring full basename for snippet
  PSKoans/Init/RegisterArgumentCompleters.ps1
  PSKoans/Public/Show-Advice.ps1
Labels: Category-Module, PR-Awaiting-Author

#274 Check for PSKoan directory before opening
  PSKoans/Public/Show-Karma.ps1
  Tests/Functions/Public/Show-Karma.Tests.ps1
Labels: Category-Module, Category-Tests, PR-Awaiting-Author

#283 Write Tests for *-Advice Cmdlets #278
  PSKoans/Public/Register-Advice.ps1
  Tests/Functions/Public/Register-Advice.Tests.ps1
  Tests/Functions/Public/Show-Advice.Tests.ps1
Labels: Category-Tests

#289 Fix bug with VSCode opening empty file
  PSKoans/Public/Show-Karma.ps1
Labels: Category-Module

#291 Add -PipelineVariable koan & update AboutLoopsAndPipelines
  PSKoans/Koans/Foundations/AboutLoopsAndPipelines.Koans.ps1
Labels: Category-Koans, PR-Needs Review

#293 Add a few bits of wisdom
  PSKoans/Data/Show-MeditationPrompt.Data.psd1
Labels: Category-Module

#294 Add meditation prompts
  PSKoans/Data/Show-MeditationPrompt.Data.psd1
Labels: Category-Module

#295 Style Pass
  PSKoans/Koans/Foundations/AboutArrays.Koans.ps1
  PSKoans/Koans/Foundations/AboutAssignmentAndArithmetic.Koans.ps1
  PSKoans/Koans/Foundations/AboutComparison.Koans.ps1
  PSKoans/Koans/Foundations/AboutConditionals.Koans.ps1
  PSKoans/Koans/Foundations/AboutFunctionsAndScriptBlocks.Koans.ps1
  PSKoans/Koans/Foundations/AboutStringOperators.Koans.ps1
  PSKoans/Koans/Foundations/AboutTypeOperators.Koans.ps1
  PSKoans/Koans/Foundations/AboutVariables.Koans.ps1
  PSKoans/Koans/Introduction/AboutAssertions.Koans.ps1
  PSKoans/Koans/Introduction/AboutCmdletVerbs.Koans.ps1
  PSKoans/Koans/Introduction/AboutGetMember.Koans.ps1
  PSKoans/Koans/Introduction/AboutNumbers.Koans.ps1
  PSKoans/Koans/Introduction/AboutStrings.Koans.ps1
Labels: Category-Koans

#292 Update-PSKoan - Fix "Yes to All" for ShouldProcess Prompts
  PSKoans/Private/Update-PSKoanFile.ps1
  PSKoans/Public/Update-PSKoan.ps1
Labels: Category-Module, PR-Needs Review

#287 :sparkles: Add specific error for Show-Advice
  PSKoans/Data/Advice/Customization/Profile.Advice.json
  PSKoans/Data/Advice/Fun/FunWithCats.Advice.json
  PSKoans/Data/Advice/Fun/FunWithGUIs.Advice.json
  PSKoans/Data/Advice/Interactive/CompletionOptions.Advice.json
  PSKoans/Data/Advice/Interactive/EditMode.Advice.json
  PSKoans/Data/Advice/OOP/OOPIntroduction.Advice.json
  PSKoans/Public/Show-Advice.ps1
  Tests/Functions/Public/Show-Advice.Tests.ps1
Labels: Category-Module, PR-Awaiting-Author

#296 Adds Koans: AboutClasses
  KoanIndex.md
  PSKoans/Koans/Constructs and Patterns/AboutClasses.Koans.ps1
Labels: Category-Koans, PR-Needs Review

#299 Updates AboutStrings with new examples
  PSKoans/Koans/Introduction/AboutStrings.Koans.ps1
Labels: Category-Koans

#300 A couple of quotes of wisdom added.
  PSKoans/Data/Show-MeditationPrompt.Data.psd1
Labels: Category-Module, PR-Needs Review

#281 New topic: Regular Expressions
  KoanIndex.md
  PSKoans/Koans/Constructs and Patterns/AboutRegularExpressions.Koans.ps1
Labels: Category-Koans, PR-Awaiting-Author

#302 Properly Rethrow Get-Karma errors in Show-Karma
  PSKoans/Public/Get-Karma.ps1
  PSKoans/Public/Show-Karma.ps1
  Tests/Functions/Public/Get-Karma.Tests.ps1
  Tests/Functions/Public/Show-Karma.Tests.ps1
Labels: Category-Module

#304 #303 - Updated Koan Parameter.
  PSKoans/Koans/Introduction/AboutNumbers.Koans.ps1
Labels: Category-Koans

#305 Reduce space around progress bars
  PSKoans/Private/Show-MeditationPrompt.ps1
Labels: Category-Module, PR-Needs Review

#307 Fix issue where importing the module a second time fails
  PSKoans/Classes/KoanAttribute.ps1
  Tests/ModuleValidation.Tests.ps1
Labels: Category-Module

#308 Properly quote path argument to Start-Process
  PSKoans/Public/Show-Karma.ps1
  Tests/Functions/Public/Show-Karma.Tests.ps1
Labels: Category-Module, PR-Needs Review

#310 Reset-PSKoan: Fixes bug with start position offset
  PSKoans/Private/Get-KoanAst.ps1
  Tests/Functions/Private/Get-KoanAst.Tests.ps1
Labels: Category-Module, Category-Tests

#309 Publish Commit Log as Markdown Table
  Build/New-Changelog.ps1
  azure-pipelines.yml
Labels: Category-Build

#312 Reset-PSKoan: Improve handling for missing topics
  PSKoans/Public/Reset-PSKoan.ps1
  Tests/Functions/Public/Reset-PSKoan.Tests.ps1
Labels: Category-Module, Category-Tests, PR-Needs Review

#313 Update Changelog generation script a bit
  Build/New-Changelog.ps1
Labels: Category-Build, Category-Docs

#314 Changelog - Leave commits in order
  Build/New-Changelog.ps1
Labels: Category-Build, Category-Docs

#316 AboutAssertions - Avoid Casting [Blank] to [bool]
  PSKoans/Koans/Introduction/AboutAssertions.Koans.ps1
Labels: Category-Koans, PR-Needs Review

#318 Update AboutCmdletVerbs
  PSKoans/Koans/Introduction/AboutCmdletVerbs.Koans.ps1
Labels: Category-Koans

#320 Added new pieces of wisdom
  PSKoans/Data/Show-MeditationPrompt.Data.psd1
Labels: Category-Module, PR-Needs Review
