Repository vexx32/PSKoans, pull requests merged in 2020-05, with the labels that each got.

#386 line 130 error in pester test
  PSKoans/Koans/Introduction/AboutGetMember.Koans.ps1
Labels: Category-Koans

#140 Add Dbatools Koans
  PSKoans/Koans/Modules/dbatools/AboutBackupDatabases.Koans.ps1
  PSKoans/Koans/Modules/dbatools/AboutDbaDatabase.Koans.ps1
  PSKoans/Koans/Modules/dbatools/AboutNewDatabases.Koans.ps1
  PSKoans/Koans/Modules/dbatools/AboutQueryingDatabases.Koans.ps1
  PSKoans/Koans/Modules/dbatools/Mocks/BasicInvokeDbaQuery.xml
  PSKoans/Koans/Modules/dbatools/Mocks/Database_All.xml
  PSKoans/Koans/Modules/dbatools/Mocks/Database_System.xml
  PSKoans/Koans/Modules/dbatools/Mocks/Database_TestDb.xml
  PSKoans/Koans/Modules/dbatools/Mocks/MultipleServerQuery.xml
  PSKoans/Koans/Modules/dbatools/Mocks/StudentTable.xml
  PSKoans/Koans/Modules/dbatools/Mocks/StudentTableBobbySafe.xml
  PSKoans/Koans/Modules/dbatools/Mocks/StudentTableParams.xml
Labels: Category-Koans, PR-Awaiting-Author :pencil2:

#390 Adjust typos, parameters, remove unused lines in AboutCsvCmdlets.Koans.ps1
  PSKoans/Koans/Cmdlets 2/AboutCsvCmdlets.Koans.ps1
Labels: Category-Koans

#388 fixed some pester scoping issues and validation issues
  PSKoans/Koans/Constructs and Patterns/AboutRegularExpressions.Koans.ps1
Labels: Category-Koans

#392 Pin Pester dependency to v4
  PSKoans/PSKoans.psd1
  templates/environment-setup.yml
  templates/install-built-module.yml
Labels: Category-Build :rocket:, Category-Module
