Repository vexx32/PSKoans, pull requests merged in 2020-02, with the labels that each got.

#357 Added a comment with further explanation for rounding
  PSKoans/Koans/Introduction/AboutNumbers.Koans.ps1
Labels: Category-Koans, PR-Needs-Review :mag:

#360 Bugfix358 - Instantiate Stings and Numbers in AboutArrays
  PSKoans/Koans/Foundations/AboutArrays.Koans.ps1
Labels: Category-Koans

#361 (#298) Refactor Show-Advice Tests
  Tests/Functions/Public/Show-Advice.Tests.ps1
Labels: Category-Tests :white_check_mark:, PR-Needs-Review :mag:

#362 Refactor CI Pipeline
  Build/Build-Module.ps1
  Build/Build.ps1
  Build/Initialize-Environment.ps1
  Build/Invoke-ModuleTests.ps1
  Build/Psake.ps1
  azure-pipelines.yml
  templates/environment-setup.yml
  templates/test-steps.yml
Labels: Category-Build :rocket:

#363 Build Nupkg and Test Against Built & Installed Module
  Build/Build-Module.ps1
  Build/Register-FileSystemRepository.ps1
  Deploy/Publish.ps1
  azure-pipelines.yml
  templates/install-built-module.yml
  templates/register-local-repo.yml
Labels: Category-Build :rocket:
