Repository vexx32/PSKoans, pull requests merged in 2020-03, with the labels that each got.

#365 AboutTypeOperators - fixes $null output returning a collection
  PSKoans/Koans/Foundations/AboutTypeOperators.Koans.ps1
Labels: Category-Koans

#364 Add Move-PSKoanLibrary Function
  PSKoans/PSKoans.psd1
  PSKoans/Private/New-PSKoanErrorRecord.ps1
  PSKoans/Public/Move-PSKoanLibrary.ps1
  PSKoans/Public/Set-PSKoanLocation.ps1
  Tests/Functions/Private/New-PSKoanErrorRecord.Tests.ps1
  Tests/Functions/Public/Move-PSKoanLibrary.Tests.ps1
  docs/Move-PSKoanLibrary.md
Labels: Category-Module, Category-Tests :white_check_mark:

#370 Refactor Introduction Koans
  PSKoans/Koans/Foundations/AboutArrays.Koans.ps1
  PSKoans/Koans/Introduction/AboutAssertions.Koans.ps1
  PSKoans/Koans/Introduction/AboutBinary.Koans.ps1
  PSKoans/Koans/Introduction/AboutBooleans.Koans.ps1
  PSKoans/Koans/Introduction/AboutNumbers.Koans.ps1
  PSKoans/Koans/Introduction/AboutStrings.Koans.ps1
Labels: Category-Koans

#373 (#372) Fix issues in AboutEnumeration
  PSKoans/Koans/Constructs and Patterns/AboutEnumerations.Koans.ps1
  Tests/KoanValidation.Tests.ps1
Labels: Category-Koans, Category-Tests :white_check_mark:

#374 (#372) AboutEnumerations: Use Version-Appropriate TryParse() Method
  PSKoans/Koans/Constructs and Patterns/AboutEnumerations.Koans.ps1
Labels: Category-Koans

#377 (#376) [Show-Karma] Enable -Contemplate with -Topic
  PSKoans/Public/Show-Karma.ps1
  Tests/Functions/Public/Show-Karma.Tests.ps1
  docs/Show-Karma.md
Labels: Category-Module, PR-Needs-Review :mag:

#381 fixes problematic assertions in AboutPSObjects
  PSKoans/Koans/Constructs and Patterns/AboutPSObjects.Koans.ps1
Labels: Category-Koans

#378 Refactor AboutCmdletVerbs
  PSKoans/Koans/Introduction/AboutCmdletVerbs.Koans.ps1
  azure-pipelines.yml
Labels: Category-Koans, PR-Needs-Review
