Repository vexx32/PSKoans, pull requests merged in 2020-01, with the labels that each got.

#338 Change order of input array to match expected output
  PSKoans/Koans/Foundations/AboutConditionals.Koans.ps1
Labels: Category-Koans

#345 Removed hire joel URL since he now works for Chocolatey
  README.md
Labels: Category-Docs :memo:

#301 Adds AboutXml topic
  KoanIndex.md
  PSKoans/Koans/Constructs and Patterns/AboutXml.Koans.ps1
Labels: Category-Koans

#343 Adds AboutFiltering topic to the ActiveDirectory module
  KoanIndex.md
  PSKoans/Koans/Modules/ActiveDirectory/Introduction/AboutFiltering.Koans.ps1
Labels: Category-Koans, Module-ActiveDirectory

#347 Fix outstanding issues in koan topics
  PSKoans/Koans/Cmdlets 1/AboutDiscovery.Koans.ps1
  PSKoans/Koans/Cmdlets 1/AboutMeasureObject.Koans.ps1
  PSKoans/Koans/Cmdlets 1/AboutModules.Koans.ps1
  PSKoans/Koans/Cmdlets 1/AboutSelectObject.Koans.ps1
  PSKoans/Koans/Cmdlets 1/AboutTeeObject.Koans.ps1
  PSKoans/Koans/Foundations/AboutArrays.Koans.ps1
  PSKoans/Koans/Foundations/AboutAssignmentAndArithmetic.Koans.ps1
Labels: Category-Koans

#348 Update uninstall/config docs
  README.md
Labels: Category-Docs :memo:

#350 Fixes bugs in bitwise operations
  PSKoans/Koans/Constructs and Patterns/AboutBitwiseOperations.Koans.ps1
Labels: Category-Koans

#346 Add "Open File" Feature
  PSKoans/Public/Get-Karma.ps1
  PSKoans/Public/Get-PSKoan.ps1
  PSKoans/Public/Show-Karma.ps1
  Tests/Functions/Public/Show-Karma.Tests.ps1
  docs/Show-Karma.md
Labels: Category-Module

#354 Add Images to README.md
  README.md
  images/Show-Karma_1.png
  images/Show-Karma_2.png
  images/logo-128px.png
  images/logo-64px.png
  images/logo.png
  images/logo.svg
Labels: Category-Docs :memo:

#356 Use integers instead of strings in the `-gt and -lt` within the AboutComparison Koan
  PSKoans/Koans/Foundations/AboutComparison.Koans.ps1
Labels: Category-Koans

#355 Implement simple current topic information cache
  PSKoans/PSKoans.psm1
  PSKoans/Public/Get-Karma.ps1
  PSKoans/Public/Show-Karma.ps1
  Tests/Functions/Public/Get-Karma.Tests.ps1
  Tests/Functions/Public/Show-Karma.Tests.ps1
Labels: Category-Module
