Repository vexx32/PSKoans, pull requests merged in 2020-10, with the labels that each got.

#415 Fix 'can be used to select a value for a variable'
  PSKoans/Koans/Foundations/AboutConditionals.Koans.ps1
Labels: Category-Koans, hacktoberfest-accepted

#416 Get-Member-related koans need to be explained better
  PSKoans/Koans/Cmdlets 1/AboutDiscovery.Koans.ps1
  PSKoans/Koans/Introduction/AboutGetMember.Koans.ps1
Labels: Category-Koans, hacktoberfest-accepted

#417 README.md: Add Scope CurrentUser
  README.md
Labels: Category-Docs :memo:, hacktoberfest-accepted

#418 Replace API endpoint and speech synthesizer
  PSKoans/Data/Advice/Fun/FunWithCats.Advice.json
Labels: Category-Advice :left_speech_bubble:, PR-Awaiting-Author :pencil2:, hacktoberfest-accepted

#419 Resolve PS 6/7 compatibility issue in 'Fun with GUIs' advice snippet
  PSKoans/Data/Advice/Fun/FunWithGUIs.Advice.json
Labels: Category-Advice :left_speech_bubble:, hacktoberfest-accepted

#420 Profile.Advice.json: Expand on $profile paths
  PSKoans/Data/Advice/Customization/Profile.Advice.json
Labels: Category-Advice :left_speech_bubble:, hacktoberfest-accepted
